<!-- <input type="text" [(ngModel)]="title">
<h1> {{ title }} </h1>

<div *ngIf="title === 'Janet'">
  Esto es de Janet
</div>

<div *ngIf="title === 'Martin'">
  Este es martin
</div>

<div *ngIf="title === 'Nombres'">
  Este es Nombres
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Janet'">Este de JANET</p>
  <p *ngSwitchCase="'Martin'">Este es MARTIN</p>
  <p *ngSwitchCase="'Nombres'">Este es NOMBRES</p>
  <p *ngSwitchDefault>No hay</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i"> {{ name }} {{ i }} 
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul> -->

<div class="product-grid">
  <app-product *ngFor="let product of products"
  (productClicked)="clickProduct($event)"
  [product]="product">
</app-product>
</div>